<!-- Table -->
 
<div class="card mb-4 mt-3">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Followup
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Customer</th> 
                    <th>Status</th>
                    <th>Action</th>
                    <th>Action Date</th>
                    <th>Result</th>
                    <th>Next Action</th>
                    <th>Next Action Date</th>
                    <th>Notes</th>
                    <th>...</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Serial</th>
                    <th>Customer</th> 
                    <th>Status</th>
                    <th>Action</th>
                    <th>Action Date</th>
                    <th>Result</th>
                    <th>Next Action</th>
                    <th>Next Action Date</th>
                    <th>Notes</th>
                    <th>...</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ahmed Mohamed </td>
                    <td>Current</td>
                    <td>Visit</td>
                    <td> 01/03/2024</td>
                    <td>Offer price</td>
                    <td>Call</td>
                    <td>10/03/2024</td>
                    <td>Notes</td>
                    <td>...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
