@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = null;
    var isRTL = System.Globalization.CultureInfo.CurrentCulture.Name.StartsWith("ar");

}

<!DOCTYPE html>
<html dir="@(isRTL? "RTL":"LTR")" lang="@(isRTL? "ar":"en")">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CRM System</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/dt/datatables.datatables.min.css" rel="stylesheet" />
    <link href="~/css/tabs.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Added By Me-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <link href="~/css/datatables.bootstrap4.min.css rel=" stylesheet">
    <script src="~/js/datatables.min.js"></script>

    <!-- Added By Me End-->


</head>
<body>
<div class="d-flex align-items-center justify-content-center" style="height: 250px;">

<h1>@ViewData["Title"]</h1>
<br />
<p>
    Please check your email to reset your password.
</p>
    </div>

</body>
</html>