@{
    ViewData["Title"] = "Manage Action Question";
}

<form method="post" id="frmCreate" class="p-3">
    <div class="form-group">
        <label for="nameArInput"> @localizer["NameAr"]</label>
        <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" name="NameAr" placeholder="Enter NameAr" required>
        <small id="emailHelp" class="form-text text-muted">Please input value.  </small>
    </div>
    <div class="form-group">
        <label for="nameEnInput">  @localizer["NameEn"]</label>
        <input type="text" class="form-control" id="nameEnInput" aria-describedby="emailHelp" name="NameEn" placeholder="Enter NameEn" required>
        <small id="emailHelp" class="form-text text-muted">Please input value.  </small>
    </div>
    <input type="text" class="form-control" aria-describedby="emailHelp" name="UserCreated" value="@ViewBag.cUser" hidden>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



<div class="border p-3 mt-4" style="width:100%; overflow-x:scroll;">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class=" ">Action Question</h2>
        </div>
    </div>
    <br />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    NameAr
                </th>
                <th>
                    NameEn
                </th>
            </tr>

        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/coding/actionQuestion.js"></script>
}