<form id="frmCreate" class="mt-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Customers </h2>
        </div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='NameAr'> NameAr  </label>
                <input type='Text' class='form-control' id='NameAr' aria-describedby='NameAr' name='NameAr' placeholder='Enter NameAr' required>
                <small id='NameAr' class='form-text text-muted'>  </small>
            </div>
        </div> 
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='NameEn'> NameEn  </label>
                <input type='Text' class='form-control' id='NameEn' Enia-describedby='NameEn' name='NameEn' placeholder='Enter NameEn' required>
                <small id='NameEn' class='form-text text-muted'>  </small>
            </div>
        </div>
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='WareHouse'> WareHouse  </label>
                <input type='Text' class='form-control' id='WareHouse' aria-describedby='WareHouse' name='WareHouse' placeholder='Enter WareHouse' required>
                <small id='WareHouse' class='form-text text-muted'>  </small>
            </div>
        </div>
    </div>

    <div class="row">

        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='Group'> Group </label> 
                <select name='Group' class='form-control' required></select>
                <small id='Group' class='form-text text-muted'>  </small>
            </div>
        </div>
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='Representive'> Representive </label>
                <select name='Representive' class='form-control' required></select>
                <small id='Representive' class='form-text text-muted'>  </small>
            </div>
        </div>
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='Industry'> Industry </label>
                <select name='Industry' class='form-control' required></select>
                <small id='Industry' class='form-text text-muted'>  </small>
            </div>
        </div>

    </div>
    <div class="row">

        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='Area'> Area </label>
                <select name='Area' class='form-control' required></select>
                <option>Select ...</option>
                <small id='Area' class='form-text text-muted'>  </small>
            </div>
        </div>
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='Status'> Status </label>
                <select name='Status' class='form-control' required></select>
                <small id='Status' class='form-text text-muted'>  </small>
            </div>
        </div>
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='Periority'> Periority </label>
                <select name='Periority' class='form-control' required></select>
                <small id='Periority' class='form-text text-muted'>  </small>
            </div>
        </div> 
    </div>

   
    <div class="row">
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label for='TaxNumber'> Tax Number  </label>
                <input type='Text' class='form-control' id='TaxNumber' aria-describedby='TaxNumber' name='TaxNumber' placeholder='Tax Number' required>
                <small id='TaxNumber' class='form-text text-muted'>  </small>
            </div>
        </div>
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label>  Location </label>
                <button type="button" class="btn btn-primary form-control  "> Assign Location </button>
            </div>
        </div> 
        <div class='col-md-4 col-sm-12'>
            <div class='form-group'>
                <label> Actions </label> 
                <button type="submit" class="btn btn-primary form-control   "> Save </button>
            </div>
        </div>
    </div>
</form>

<!-- Table -->
<div class="border p-3 mt-4" style="width:100%; overflow-x:scroll;">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"><i class=" btn btn-outline-primary fas fa-plus"></i>  Contacts </h2>
        </div>
    </div>
    <br />
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Position</th> 
                <th>Periority</th>
                <th>PhoneNo</th> 
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

 